  <div class="footer">
    <footer class="container-fluid text-center">
      <hr>
      <!--  <p style="color: white; text-align:center;">&copy; The Global Group - All Rights Reserved<p>-->
      <p style="color: black; text-align:center; ">TOHACKs - 2021</p>
      <!-- &copy; -->	
    </footer>
  </div>
</body>
</html>