<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Roommates</title>
</head>

<body>
  <a>Navigation Bar</a>
  <a href="/login">Log in</a>
  <a href="/signup">Register</a>