<%- include("./partials/header") %>
<!-- Body of the page is here -->
<div class="container"> 
  <div class="main">
    <div class="row">
      <div class="col-md-10">
        <h1>My Account</h1>
      </div>
      <div class="col-md-2" >
        <button class="btn btn-default">Edit info</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" style="background-color: pink;">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="rounded mx-auto d-block" alt="User-Profile-Image">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <p><b>Name: </b> Hoa Nguyen</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Email: hoan193@my.yorku.ca</b> </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Preference: </b> </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Budget: </b> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--class="main"-->
</div><!--class="container"-->
<%- include("./partials/footer") %>