<%- include("./partials/header") %>
<!-- Body of the page is here -->
<div class="container"> 
  <div class="main">
    <div class="row">
      <div class="col-md-12" style="background-color:#3399ff;">
        <h1>Chat</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 1px solid black;">
        <!--  style="border-bottom: 1px solid black;" -->
        <div class="row">
          <div class="col-md-3">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="50px" class="rounded" alt="User-Profile-Image">
          </div>
          <div class="col-md-9">
            <p><b>Hoa</b><br>
              Hello world!
            </p>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-3">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="50px" class="rounded" alt="User-Profile-Image">
          </div>
          <div class="col-md-9">
            <p><b>Jame</b><br>
              Thank you! That was very helpful!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-1">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="50px" class="rounded" alt="User-Profile-Image">
          </div>
          <div class="col-md-11">
            <p style="padding: 10px 0;">Hello there!</p>
          </div>
        </div>
        <div class="row" style="text-align: right;">
          <div class="col-md-11" >
            <p style="padding: 10px 0;">Hi, How are you doing?</p>
          </div>
          <div class="col-md-1">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="50px" class="rounded" alt="User-Profile-Image">
          </div>
        </div>
      </div>
    </div>
  </div> <!--class="main"-->
</div><!--class="container"-->
<%- include("./partials/footer") %>