<%- include("./partials/header") %>
<!-- Body of the page is here -->
<div style="background-color: #CCE5FF;">
<div class="container"> 
  <div class="main">
    <div class="align-middle" style="padding-top: 100px;">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="form-row">
            <h2>Log In:</h2>
          </div>
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include("./partials/footer") %>