<%- include("./partials/header") %>
<!-- Body of the page is here -->
<div style="background-color: #CCE5FF;">
<div class="container"> 
  <div class="main">
    <div class="align-middle" style="padding-top: 100px;">
      <div class="form-row">
        <h2>Sign up for free account</h2>
      </div>
      <form action="/signup" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div> <!--class="main"-->
</div><!--class="container"-->
</div>
<%- include("./partials/footer") %>